# Public Environment Variables (Next.js client-side)
NEXT_PUBLIC_ASSET_BASE_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

# Server/Build-time Environment Variables
APP_URL=http://localhost:3000
PAYSTACK_SECRET_KEY=
AUTH_SECRET=
